<app-de-header></app-de-header>
<section class="section" id="about">
    <div class="top-header">
      <h1>Über mich</h1>
    </div>
    <div class="row">
      <div class="col">
          <div class="about-info">
              <h3>Meine Einleitung</h3>
              <p>Ich bin sehr vertraut mit HTML, CSS und JavaScript, sowie anderen modernen
                Frameworks und Bibliotheken, die es mir ermöglichen, interaktive Funktionen 
                zu implementieren. Zu meinen Fähigkeiten gehört die Erfahrung in Angular, 
                sowie Django im Backend.
              </p>
              <div class="about-btn">
                  <button class="btn">Lebenslauf runterladen <i class="uil uil-import"></i></button>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="skills-box">
              <div class="skills-header">
                  <h3>Frontend</h3>
              </div>
              <div class="skills-list">
                  <span>HTML</span>
                  <span>CSS</span>
                  <span>Bootstrap</span>
                  <span>JavaScript</span>
                  <span>Angular</span>
              </div>
          </div>
          <div class="skills-box">
              <div class="skills-header">
                  <h3>Backend</h3>
              </div>
              <div class="skills-list">
                  <span>Python</span>
                  <span>Django</span>
                  <span>Javascript</span>
              </div>
          </div>
          <div class="skills-box">
              <div class="skills-header">
                  <h3>Database</h3>
              </div>
              <div class="skills-list">
                  <span>MySQL</span>
                  <span>PostgreSQL</span>
                  <span>SQLite</span>
              </div>
          </div>
      </div>
    </div>
 </section>

 <app-de-footer></app-de-footer>