<app-de-header></app-de-header>
<section class="section" id="projects">
    <div class="top-header">
        <h1>Projekte</h1>
    </div>
    <div class="project-container">
      <div class="project-box">
          <i class="uil uil-briefcase-alt"></i>
          <h3>"fast" Abgeschlossen</h3>
          <label>1+ abgeschlossene Projekte</label>
      </div>
      <div class="project-box">
          <i class="uil uil-users-alt"></i>
          <h3>Kunden</h3>
          <label>1+ fröhliche Kunden</label>
      </div>
      <div class="project-box">
          <i class="uil uil-award"></i>
          <h3>Erfahrung</h3>
          <label>1+ Jahr in diesem Feld</label>
      </div>
    </div>
 </section>

 <app-de-footer></app-de-footer>