<app-de-header></app-de-header>

<main class="wrapper">
    <section class="featured-box" id="home">
       <div class="featured-text">
         <div class="featured-text-card">
             <span>Gian Luca Gissy</span>
         </div>
         <div class="featured-name">
             <p>Ich bin <span class="typedText"></span></p>
         </div>
         <div class="featured-text-info">
             <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis impedit labore magnam architecto!
             </p>
         </div>
         <div class="featured-text-btn">
             <button class="btn blue-btn">Hire Me</button>
             <button class="btn" >Download CV <i class="uil uil-file-alt"></i></button>
         </div>
         <div class="social_icons">
             <a href="https://instagram.com/giani_lu09/" target="_blank"><i class="uil uil-instagram"></i></a>
             <a href="https://github.com/GLG9" target="_blank"><i class="uil uil-linkedin-alt"></i></a>
             <a href="https://github.com/GLG9" target="_blank"><i class="uil uil-twitter-alt"></i></a>
             <a href="https://github.com/GLG9" target="_blank"><i class="uil uil-github-alt"></i></a>
         </div>
       </div>
       <div class="featured-image">
         <div class="image">
             <img src="assets/images/ich.PNG" alt="avatar">
         </div> 
       </div>
    </section>

<app-de-footer></app-de-footer>