<app-de-header></app-de-header>
<section class="section" id="contact">
    <div class="top-header">
      <h1>Kommen wir in Berührung</h1>
      <span>Haben Sie ein Projekt im Kopf und wollen es umsetzen? Kontaktieren Sie mich.</span>
    </div>
    <div class="row">
       <div class="col">
          <div class="contact-info">
              <h2>Sie finden mich hier <i class="uil uil-corner-right-down"></i></h2>
              <a href="mailto:gianluca.gissy@gmx.de"><i class="uil uil-envelope"></i> Email: gianluca.gissy&#64;gmx.de</a>
              <p><i class="uil uil-phone"></i> Tel: +49 157 35175059</p>
          </div>
       </div>
       <div class="col">
          <div class="form-control">
              <div class="form-inputs">
                  <input type="text" class="input-field" placeholder="Name">
                  <input type="text" class="input-field" placeholder="Email">
              </div>
              <div class="text-area">
                  <textarea placeholder="Nachricht"></textarea>
              </div>
              <div class="form-button">
                  <button class="btn">Senden <i class="uil uil-message"></i></button>
              </div>
          </div>
       </div>
    </div>
 </section>

 <app-de-footer></app-de-footer>