<footer>
    <div class="top-footer">
        <p>Gian Luca Gissy .</p>
    </div>
    <div class="middle-footer">
        <ul class="footer-menu">
            <li class="footer_menu_list">
                <a href="/de/home">Home</a>
            </li>
            <li class="footer_menu_list">
                <a href="/de/über-mich">Über mich</a>
            </li>
            <li class="footer_menu_list">
                <a href="/de/projekt">Projekte</a>
            </li>
            <li class="footer_menu_list">
                <a href="de/kontakt">Kontakt</a>
            </li>
        </ul>
    </div>
    <div class="footer-social-icons">
        <div class="icon"><i class="uil uil-instagram"></i></div>
        <div class="icon"><i class="uil uil-linkedin-alt"></i></div>
        <div class="icon"><i class="uil uil-twitter-alt"></i></div>
        <div class="icon"><i class="uil uil-github-alt"></i></div>
    </div>
    <div class="bottom-footer">
        <p>Urheberrecht &copy; <a href="/de/home" style="text-decoration: none;">Gian Luca Gissy</a> - Alle Rechte geklärt</p>
    </div>
</footer>